<div class="container">
    <div class="row justify-content-center row-content">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center text-white bg-info">
                    <h2>Change Password Form</h2>
                </div>

                <div class="card-body">
                    <!-- FORM STARTS HERE -->
                    <form novalidate [formGroup]="changePasswordForm" #fform="ngForm" (ngSubmit)="change_password()">

                        <div class="form-group row form-row align-items-center justify-content-center">
                            <div class="col-12 form-label">
                                <label for="new_password">New Password</label>
                            </div>

                            <div class="col-12">
                                <input name="new_password" type="password" formControlName="new_password" [ngClass]="{'form-control': true,'is-invalid': formErrors.new_password}" id="new_password" placeholder="Password" />
                            </div>
                            <span *ngIf="formErrors.new_password" class="text-danger">
                                {{ formErrors.new_password }}
                            </span>
                        </div>

                        <div class="form-group row form-row mt-3">
                            <div class="col-12">
                                <button type="submit" class="btn btn-info col-12 text-center text-white"
                                    [disabled]="changePasswordForm.invalid">
                                    Change Password
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>