<div class="example-container">
    <mat-toolbar class="example-toolbar">
        <button *ngIf="globalservice.currentCredentials" mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
        <a class="navbar-brand pointer" (click)="dashboard()">HealthCare Patient App</a>
        <span class="example-spacer"></span>
        <nav class="sidenav">
            <span class="mr-2">
                 <a class="pointer" [matMenuTriggerFor]="menu">
                    <mat-icon class="sidebar_icon1">person</mat-icon>
                    {{userName}}
                    <mat-icon class="sidebar_icon_arrow">keyboard_arrow_down</mat-icon>
                </a>
                <mat-menu class="mt-2" #menu="matMenu">
                <a  mat-menu-item [routerLink]="[{outlets:{ sidenavoutlet:['updatePass'] }}]" class="links">
                    <mat-icon class="sidebar_icon">lock</mat-icon> Change Password
                </a>
                <a mat-menu-item (click)="logout()" class="links"> 
                    <mat-icon class="sidebar_icon">logout</mat-icon> Logout
                </a>
                </mat-menu>
            </span>
        </nav>
    </mat-toolbar>

    <mat-sidenav-container class= "${globalservice.currentCredentials ? 'example-sidenav-container' : ''}">
    <!-- <mat-sidenav-container class= "example-sidenav-container"> -->

        <mat-sidenav #snav mode="over">
            <mat-nav-list>
                <div class="mobile-sidenav">
                    <a mat-list-item>
                        <mat-icon class=" sidebar_icon ">person</mat-icon> {{userName}}
                    </a>
                </div>

                <a mat-list-item [routerLink]="[{outlets:{ sidenavoutlet:['userinfo'] }}]"> User Information </a>
                <a mat-list-item [routerLink]="[{outlets:{ sidenavoutlet:['medicalrecords'] }}]"> Medical Records </a>
                <a mat-list-item [routerLink]="[{outlets:{ sidenavoutlet:['viewconsents'] }}]"> View Consents</a>
                <a mat-list-item routerLink="."> About us</a>
                <div class="mobile-sidenav">

                    <a mat-list-item [routerLink]="[{outlets:{ sidenavoutlet:['updatePass'] }}]">
                        <mat-icon class="sidebar_icon ">lock</mat-icon> Change Password
                    </a>
                    <a mat-list-item (click)="logout() ">
                        <mat-icon class="sidebar_icon ">logout</mat-icon> Logout
                    </a>
                </div>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content class="sidenavstyle">
            <router-outlet name='sidenavoutlet'></router-outlet>
        </mat-sidenav-content>

    </mat-sidenav-container>
</div>